<%- include("./partials/header") %>

<!-- Jumbotron -->


    <div class = "jumbotron">
        <h1>Your Online School</h1>
        <p>HomeSchooling should be fun and easy</p>
		<div class = "inputs">
			<a href = "/register" class= "btn btn-info"> Register </a>	
		</div>
         or
		<div class = "inputs">
			<a href = "/login" class= "btn btn-info"> Login </a>	
		</div>
		
    </div>


	
<%- include("./partials/footer") %>
