<%- include("./partials/header") %>


<form class = 'form' action = "/login" method = "POST">
	<h4 class = 'inputs'>Login</h4>
	<div class = 'form-group'>
		<input class = 'inputs' type = "text" name = "username" placeholder = "username">	
	</div>
	<div class = 'form-group'>
		<input class = 'inputs' type = "password" name = "password" placeholder  = "password">	
	</div>
	<div class = 'form-group'>
		<input class = ' btn btn-info inputs' type = "submit" value = "Login">	
	</div>
</form>
	

<%- include("./partials/header") %>